<nav class="navbar">
    <a href="/" class="nav-brand">Vet-Farmage</a>
    <div class="nav-items">
        <a href="/crops" class="nav-link">Crops</a>
        <a href="/livestock" class="nav-link">Livestock</a>
        <a href="/inventory" class="nav-link">Inventory</a>
        <a href="/financials" class="nav-link">Financials</a>
    </div>
</nav>